{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Homepage</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
{% endblock meta %}

{% block content %}


<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="{% static 'img/Banner1_covid.svg' %}" alt="">
        </div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>

<div class="middle">
    <div class="peta">
        <div class="peta-img">
            <img src="{% static 'img/peta1.png' %}" alt="">
        </div>
        <div class="peta-text">
            <h1>Persebaran</h1>
            <h1 style="color: rgb(238, 22, 22);">Covid-19</h1>
            <h1>Di</h1>
            <h1>Daerah</h1>
            <h1>Ibu Kota</h1>

            <a href="{% url 'berita:beritahome' %}" class="btn btn-info info-sel">INFO SELENGKAPNYA</a>
        </div>
    </div>
</div>

<div class="subm">
    <div class="submisi-title">
        <h2>Cerita Untuk Kamu</h2>
    </div>

    <div class="content">
        <div class="swiper-submisi">
            <div class="swiper-submisi-wrapper">
                {% if submisi.cerita_set.count != 0 %}
                {% for cerita in submisi.cerita_set.all %}
                <div class="card bg-light mb-3 submisi-card swiper-submisi-slide" style="width: 350px;">
                    <div class="card-header">Submisi #{{ forloop.counter }}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ cerita.judul_pencerita }}</h5>
                        <h6 class="card-subtitle">oleh {{ cerita.nama_pencerita }}</h6>
                    </div>
                    <a class="btn btn-primary" href="{% url 'bintang:detail' cerita.id %}"
                        style="color: aliceblue;">Baca Selengkapnya</a><br>
                    <a class="btn btn-danger" href="{% url 'bintang:delete' cerita.id %}" title="">Hapus Cerita Ini</a>
                    <div class="card-footer">
                        <p class="card-text">
                            {{ cerita.published }}
                        </p>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="swiper-submisi-pagination"></div>
            <div class="swiper-submisi-scrollbar"></div>
        </div>
    </div>
</div>

<div class="to-submisi">
    <h1>Ayo ceritakan kisah atau tips-mu dalam menghadapi pandemi ini!</h1>
    <a href="{% url 'bintang:submisi' %}" class="btn btn-to-submisi">KLIK DISINI</a>
</div>


<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock content %}