{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Cerita Kita</title>
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock meta %}

{% block content %}
<div class="container-detail">
    <div class="container-detail-upper">
        <div class="container-detail-judul">
            <p>{{cerita.judul_pencerita}}</p>
        </div>
        <div class="container-detail-posted-by">
            <p>Posted by {{cerita.nama_pencerita}} on {{cerita.published}}<br></p>
            <p>{{cerita.email_pencerita}}</p>
        </div>
    </div>
    <div class="container-detail-lower">
        <div class="container-paragraph">
            <p>{{cerita.cerita_pencerita}}
            </p>
        </div>
        <div class="container-button">
            <div style="border-top: 40px solid rgb(255, 255, 255);">   
                <a class="btn btn-info" href="{% url 'home:index' %}">Kembali</a>         
                <a class="btn btn-success" href="{% url 'bintang:submisi' %}" style="float: right;">Ceritain Kisah
                    Corona Kamu Yuk</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}