{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Submisi</title>
<link rel="stylesheet" href="{% static 'home/style.css' %}"> 
{% endblock meta %}


{% block content %}

    <div class="container-judul">
        <p>{{ page_title }}</p>
    </div>
    <div class="container-form">
        <form method="POST">
            {% csrf_token %}
            {% for form in post_form %}
            <div class="form-group">
                {{form.label}}
                {{form}}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock content %}