@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body{
    font: Montserrat;
}
.judul{
    color: rgba(0, 0, 0, 0.900);
    font-size: 20px;
    font-weight: 500;
}

.judul::after{
    content: "";
    display: block;
    color: black;
}

img{
    width: 30%;
}

.underpict{
    margin-top: 1em;
    color:rgba(0, 0, 0, 0.750);
    font-size: 15px;
    font-weight:450;
}

.undertext{
    color:rgb(87, 85, 85);
    font-size: 12px;
    font-weight: 150;
}

.underlink{
    color:black;
}

.underlink:hover{
    color: rgb(134, 134, 134);
    font-weight: 50;
    text-decoration: none;
}
.textlink{
    color:black;
}

.textlink:hover{
    color: rgb(134, 134, 134);
    font-weight: 500;
    text-decoration: none;
}

.videod > * {
    margin-top: 0.5em;
    margin-left: 10px;
    width: 30%;
    display: inline-block;
}

.textp{
    color:rgba(0, 0, 0, 0.750);
    font-weight: 100;
    font-size: 13px;
}

.btn1{
    border-radius: 12px;
    background-color: rgb(218, 78, 78);
    color: black;
    font-size: 12px;
    border:rgb(218, 78, 78);
}

.btn1:hover{
    background-color: grey;
    text-decoration: none;
}