
{% extends 'base.html' %}
{% load static %}


        {% block meta %}
        <title>Edukasi-di Luar</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- My fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 

        <!-- My CSS -->
 

        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
 

    <style>

        body{
            font: Montserrat;
        }
        .judul{
            color: rgba(0, 0, 0, 0.900);
            font-size: 20px;
            font-weight: 500;
        }
        .videod > * {
            margin-top: 0.5em;
            margin-left: 10px;
            width: 30%;
            display: inline-block;
        }
        
        .textp{
            color:rgba(0, 0, 0, 0.750);
            font-weight: 100;
            font-size: 13px;
        }

        .btn1{
            border-radius: 12px;
            background-color: rgb(218, 78, 78);
            color: black;
            font-size: 12px;
            border:rgb(218, 78, 78);
        }

        .btn1:hover{
            background-color: grey;
            text-decoration: none;
        }

    </style>
    {% endblock meta %}



    {% block content %}

        <section style="padding-top: 5em;">
            <div class="container">
                <h5 class="judul">Tips di Luar Rumah</h5>
                <p class="textp"> coba simak berbagai video terkait di bawah ini: </p>
                <p style="margin-top:1em">Transportasi Umum</p>
                <div class="row">
                    <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/m6aksi4dt90" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Nob4YIQp0So" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  
                </div>
                <p style="margin-top:1em">Pusat Belanja atau Tempat Rekreasi</p>
                <div class="row">
                    <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/CWG18AxHpTA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/2poRKvJMt6M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>

                <p style="margin-top:1em">Kampus atau Kantor</p>
                <div class="row">
                    <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/lOkq2Q7cNJE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/nenxKQXolo0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>

                <p style="margin-top:1em">Tempat Makan Umum</p>
                <div class="row">
                    <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/_QWeLPWn2OY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/uWWRGWrW1ac" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>

                <p style="margin-top:1em">Tips Berkegiatan</p>
                    <div class="row">
                        <div class="col-md-6">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/ObhMGkz95WE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Gecnie9BOFw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                    </div>


                <div class="row">
                <div class="col-md-6" style="padding-bottom: 3em">
                    <a href="https://lifestyle.kompas.com/read/2020/03/29/090408220/melindungi-diri-saat-ke-luar-rumah-untuk-cegah-virus-corona?page=all"><button class="btn1" href="https://covid19.kemkes.go.id/warta-infem/begini-cara-mencuci-tangan-yang-benar/" style="margin-top: 3em">Artikel Tips Berkegiatan di Luar Rumah</button></a>
                    <a href="{% url 'tips:add_jurnal' %}"><button class="btn1" href="{% url 'tips:add_jurnal' %}" >kembali</button></a>
                </div>  
                </div>
            </div>
        </section>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


    {% endblock content %}

    