body {
    background: rgba(255, 255, 255, 0.836);
    color: rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
}

.card {
    display: flex;
    grid-row: span 2 / auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9fc8ff;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }

.photo-page {
    display: grid;
    gap: 1rem;
  
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  
  
